.container {
  background: var(--blue);
  color: var(--white);
}

.content {
  max-width: 1500px;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}

.container h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 56px;
}

.container span {
  font-weight: 400;
}

.container p {
  font-size: 36px;
}
