@import "../../styles/variables.scss";
.referencesSection {
  background: $gray-200;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 800px) {
    flex-direction: row-reverse;
  }
}

.container {
  height: 200px;
  position: relative;
  width: 100%;
  @media (min-width: 800px) {
    width: 50%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $gray-400;
  width: 100%;
  z-index: 2;
  height: 200px;
  padding: 10px;

  @media (min-width: 800px) {
    width: 50%;
  }
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialContent {
  width: 500px;
  height: 200px;
  border-radius: 15px;
  padding: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  p {
    margin: 0;
  }
}
