.heading {
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 36px;
  text-align: center;

  @media (min-width: 1000px) {
    font-size: 56px;
  }
}

.small {
  font-weight: 300;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 3em;

  h2 {
    text-align: center;
    font-size: 46px;
    @media (min-width: 1000px) {
      font-size: 56px;
    }
  }

  p {
    padding-top: 25px;
    font-size: 30px;
    text-align: center;

    @media (min-width: 1000px) {
      font-size: 36px;
    }
  }

  @media (min-width: 1000px) {
    flex-direction: row;
  }

  > div {
    color: #fff;
    flex: 1;
    padding: 10px;

    h2 {
      color: #fff;
    }
  }
}

.message {
  font-weight: 600;
  margin: 10px 0;
}
