@import "./vendor/bootstrap.min.css";
@import "./vendor/fontawesome/css/all.min.css";
@import "./variables.scss";

@import "../styles/vendor/fontawesome/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;0,900;1,300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.0625em;
  color: #444;
  background: $primary;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700 !important;
  text-transform: uppercase;
  color: #444;
}

p {
  line-height: 1.6em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.highlight {
  background: #fbee24;
  color: $primary;
  padding: 0 10px;
}

.subheading {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 24px;
}

::-moz-selection {
  background: #fbee24;
  color: $primary;
}

::selection {
  background: #fbee24;
  color: $primary;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.text-primary {
  color: $primary !important;
}

:global(.white) {
  color: #fff;
}

:global(.light) {
  font-weight: 300 !important;
}

footer {
  padding: 5rem 0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spinner 1.5s linear infinite;
}
