.offeringsSection {
  padding: 5rem 0;
  // background: #a5c4ca;
  background: #ecf2f4;
}

.card {
  border-radius: 15px;
  border: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: 14px;
  height: 100%;

  h3 {
    margin-bottom: 10px;
  }
}

.icon {
  font-size: 35px;
  padding: 10px;
}

.sub {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 24px;
}
