@import "../../styles/variables.scss";

.testimonials {
  padding: 10rem 0;
  background: #f8f9fa;
}

.card {
  height: 300px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 0;
  color: #fff;
  background: #327895;
  transform: scale(0.8);
  font-size: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  margin-top: 20px;
  padding: 20px 20px 0 20px;
}

.customer {
  background: #fff;
  height: 25%;
  color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  p {
    position: relative;
    bottom: 10px;
  }
}

.image {
  width: 60px;
  height: 60px;
  position: relative;
  top: -10px;

  img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #fff;
  }
}

:global(.slick-current) {
  .card {
    transform: scale(0.9);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    opacity: 1;
    background: $primary;
  }
}

:global(.slick-next) {
  right: -10px !important;
}

:global(.slick-prev) {
  left: -10px !important;
}

:global(.slick-next:before) {
  color: $primary !important;
}

:global(.slick-prev:before) {
  color: $primary !important;
}
